footer{
	margin: 20px auto 0px;
	.footermenu{
		padding:0;
		margin: 0;
		text-align: center;
		li{
			display: inline-block;
			list-style: none;
			:after{
				content: " | ";
			}			
		}
		li:last-child{
			:after{
				content: none;
			}
		}
	}	
	.fixbar{
		position: fixed;
		right: 0;
		bottom: 20%;
		padding:0 5px;
		color: #fff;
		ul{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				padding: 5px;
				position: relative;
				span{
					width: 50px;
					height: 50px;
					display: block;
				}			
				ul{
					display: none;
					position: absolute;
					left: -90px;
					height: 50px;
					top: 0;
					min-height: 50px;
					li{
						background: #fff;						
						padding:0 10px;
						line-height: 50px;
						margin: 0;
						color: #000;
						border:1px solid #e3e3e3;
						-webkit-border-top-left-radius: 4px;
						-webkit-border-bottom-left-radius: 4px;
						-moz-border-radius-topleft: 4px;
						-moz-border-radius-bottomleft: 4px;
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
						border-right: none;
					}
				}
			}
		}
		.qq span{
			background: url('../images/QQ.jpg') center center no-repeat transparent;
			background-size: 50px;
		}
		.wechat span{
			background: url('../images/wechat.jpg') center center no-repeat transparent;
			background-size: 50px;
		}
		.phone span{
			background: url('../images/phone.png') center center no-repeat transparent;
			background-size: 50px;
		}
		li:hover ul{
			display: block;
		}
	}
}
.content-info{
	color: #fff;
	background-color: #4fb17f;
	padding:20px 0;
	.footermenu{
		li{
			a{
				color: #fff;
				font-size: 16px;
    			line-height: 20px;
			}
		}
		p{
			text-align: center;
		}
	}
	.site-info{
		margin-top: 20px;
		p{
			text-align: center;
			margin: 0;
		}
	}
}
.friendLinker{	
	margin-top: 30px;
	ul{
		padding: 0;
	}
	li{
		list-style: none;
		display: inline-block;
		width: 120px;		
	    margin-right: 5px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    a{
	    	color: #b6b6b6;
	    	font-size: 12px;
	    }
	}
}