footer{
	margin-bottom: 50px;
	.footermenu{
		padding:0;
		margin: 0;
		text-align: center;
		li{
			display: inline-block;
			list-style: none;
			:after{
				content: " | ";
			}			
		}
		li:last-child{
			:after{
				content: none;
			}
		}
	}
}