body{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center center;
  	background-color: #f2f2f2;
}
.banner{
	background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	.container{		
		position: relative;
	}
	.nav-primary{
		#menu-main-menu{
			li{
				display: inline-block;
			}
		}
	}
	.nav-primary.collapse{
		display: none;
	}
	.nav-primary.collapse.in{
		display: inline-block;
	}
	.brand{
		background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 50% center / 114px auto;
		display: inline-block;
	    height: 60px;
	    width: 114px;
	    text-indent: -9999px;
	    vertical-align: top;
	}
}
#logo{
	background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 50% center / 114px auto;
	display: inline-block;
    height: 60px;
    width: 114px;
    text-indent: -9999px;
    vertical-align: top;
}
.checkOrder{
	float: right;
	font: 16px/60px;
	background: url('../images/orderlist.png') left center no-repeat;
	line-height: 60px;
    padding-left: 30px;
    vertical-align: middle;
}
.menuSwitch{
	border:none;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 20px;
    float: right;
    span{
    	margin-left: 5px;
    }
}
.nav-second{
	#menu-second-menu{
		padding: 0;		
		text-align: center;
		li{
			list-style:none;
			display: inline-block;
		}
	}
}
.nav-primary{
	li{
		display: inline-block;
	    padding: 0 14px;
	    z-index: 110;
	    position: static;
		a{
			border-bottom: 4px solid transparent;
		    color: #000;
		    display: inline-block;
		    font: 16px/60px "microsoft yahei";
		    height: 60px;
		    padding: 0 5px;
		    text-align: center;
		    text-decoration: none;
		    &:hover,&:focus{
		    	background: none;
		    	color: #72b32a;
		    }		    
		}
	}
	.current-menu-item{
		a{
			color: #72b32a;
    		font-weight: bold;
		}
	}
	.sub-menu{
		display: none;
		z-index: 9999;
		background-color: #fff;
		position: absolute;
		width: 100%;
		padding: 0 20px 20px 20px;
		left: 0;
		li{
			display: inline-block;
			vertical-align: top;
    		width: 150px;
    		//border-bottom: 1px solid #878787;
    		margin: 10px 20px 10px 0;
    		padding-bottom: 20px;
			a{
				color: #008869;
			    font-size: 18px;
			    line-height: 20px; 
			    height: auto;
			    padding: 10px 0 5px 0;
			}
			ul{
				position: static;
				display: block;
				padding:0;
				li{
					display: inline-block;
					padding: 0;
					width: auto;
					border:none;
					margin: 0;
					a{
						border-radius: 2px;
					    color: #878787;
					    display: inline-block;
					    font-size: 14px;
					    height: 16px;
					    line-height: 16px;
					    padding: 0 4px;
					    &:hover,&:focus{
					    	background-color: #008869;
					    	color: #fff;
					    }
					}
				}
			}
		}
	}
}
.nav-primary{
	li{
		&:hover > .sub-menu{
	    	display: block;
	    }
	}	
}

.page-header{
	h1{
		color: #333;
	    font-size: 18px;
	}
}
.topbrand{
    background-color:#000;
    border-bottom: 1px solid #5cb85c;
    color:#fff;
    .bar{
    	margin:0 10px;
    }
    .list{
    	display:inline-block;
    }
    span{
        margin-right:10px;
    }
}

@media (min-width: $screen-xs-max) {
    .menuSwitch{
        display: none;
    } 
    .nav-primary{
    	display: inline-block!important;
    	height: auto!important;
    }
}

@media (max-width: $screen-xs-max) {
    .nav-primary{
    	display: none;
        li{
        	width: 100%;
        	text-align: center;
        }
    }
    .checkOrder{
    	float: none;
    	display: block;
    }
    .topbrand{
        font-size:10px;
        .list{
        	display:block;
        	text-align:center;
        }
        .bar{
        	display:none;
        }
    }
    .menuSwitch{
    	height:60px;
    }
}