.well{
	background-color: #fff; 
}
#homepage{
	h2{
		text-align: center;
		margin: 30px auto;
	}
}
#homeslide{
	border-bottom: 5px solid #99a901;
	.item{
		.img{
			height: 500px;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: center center;
		}
	}
	.privite{
		position: absolute;
		left: 50%;
    	transform: translate(-50%, 0);
		bottom: 0;
		z-index: 9999;
		background: url('../images/custometrip.png') left -2px no-repeat;

	    bottom: 0;
	    display: block;
	    height: 57px;
	    text-indent: -9999px;
	    width: 265px;
	    &:hover{
	    	background-position: 0 -63px;
	    }
	}
	.carousel-indicators{
		bottom: 70px;
	}
}
.highline,
.discovery{
	.items{
		min-height: 300px; 
		background-repeat: no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	background-position: center center;
	  	border: 10px solid #fff;
	  	font-size: 17px;
  		color: #fff;
  		padding: 20px;  
  		-webkit-transition: 0.5s ease-in-out;
	    -moz-transition: 0.5s ease-in-out;
	    -o-transition: 0.5s ease-in-out;
	    transition: 0.5s ease-in-out;
	    position: relative;
	    .title{
	    	font-size: 35px;
	    	line-height: 37px;
	    	text-align: center;
	    	position: absolute;
	    	top: 50%;
	    	transform: translateY(-50%);
	    	left: 50%;
	    	transform: translateX(-50%);
	    	text-shadow: 0 2px 6px #000;
	    }
	  	&:hover{
  			transform: translateY(-10px);
  		}		
	}
}
.home-title{
	font-size: 26px;
	text-align: center;
	margin-bottom: 20px;
}
.all-cat{
	margin: 30px auto 0;
	h2{
		color: #5cb85c;
	    font-size: 28px;
	    font-weight: bold;
	    line-height: 30px;
	    padding-bottom: 3px;
	}
	.hotTrip{
		padding: 0;
		li{
			display: inline-block;
			width: 30%;
			margin-bottom: 10px;
			list-style: none;
			a{
				color: #737373;
			}
		}
	}
}
.hightrip{
	margin: 20px auto;
	.items{
		min-height: 250px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	background-position: center center;
	  	font-size: 17px;
  		color: #fff;
	    position: relative;
	    .theIcon{
	    	height: 50px;
	    	display: block;
	    	margin: auto;
	    }
	  	&:hover{
	  		.insider{
	  			visibility: visible;
	  		}
  			.title{
  				display: block;
  				color: #000;
  			}
  		}  		
	  	.title{
	    	font-size: 20px;
	    	line-height: 22px;
	    	text-align: center;
	    	position: absolute;
	    	top: 40%;
	    	width: 100%;
	    	transform: translateY(-40%);
	    	display: none;
	    	visibility: visible;
	    } 
	    .insider{
	    	visibility: hidden;
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	background-repeat: no-repeat;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: center center;
		  	top: 0;
		  	left: 0;
	    }	
	}
	.items.signle{
		.insider{
			visibility: visible;
		}
		.title{
			color: #000;
			display: block;
		}
	}
	.items.signle:hover{
		.insider{
			visibility: hidden;
		}
		.title{
			display: none;
		}
	}
}

.cat-info{
	margin-top: 30px;
	background-color: #fff;
	.cat-name{	
		height: 200px;
		h1{
			font-size: 30px;
			margin-top: 30px;
			font-weight: bold;
		}
		.trip-count{
			font-size: 14px;
			color: #666;
			position: absolute;
			bottom: 20px;
		}
	}
	.cat-img{
		background-repeat: no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	background-position: center center;
	  	height: 200px;
	}
}
.tirp-list{
	margin-top: 20px;
	.items{
		.trip-img{
			min-height: 250px;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: center center;
		  	.tip-num{
		  		position: absolute;
		  		left: -19px;
		  		top: 0;
		  		color: #fff;
			    display: inline-block;
			    font-size: 14px;
			    font-weight: bold;
			    height: 55px;
			    line-height: 55px;
			    text-align: center;
			    width: 68px;
			    z-index: 2;
			    background: #b7cc02 none repeat scroll 0 0;
			    i{
			    	font-size: 24px; 
    				font-style: italic;
			    }
		  	}
		}
		h2{
			font-size: 16px;
			line-height: 24px;
		}
		.trip-meta{			
			span{
				color: #999;
				margin-right: 20px;
			}
		}
		.collapse{
			display: block;
			visibility: hidden;
			height: 0;
			.contactForm{
                margin: 20px auto;
                background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important;
			    color: #fff;
			    padding: 20px;
                text-align: center;
                .field-wrap{
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid #fff;
                    color: #838383;
                    margin: 0 auto 15px;
                    width: 85%;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    padding: 10px;
                    vertical-align: middle;
		    		label{
		    			display: inline-block;
		    			min-width: 40px;
		    			vertical-align: top;
		    		}
		    		input{
		    			border:none;
		    		}
		    		&.hidden-wrap{
		    			display: none;
		    		}                                	
		    	}                   
		    	.submit-wrap{
					margin: 0 auto 15px;
				    width: 85%;
					text-align: center;
					background: #46b8da;
					border-color: #46b8da;
					input{
						background:none;
						color: #fff;
						font-size: 16px;
					}
				}
				.ninja-forms-success-msg{ 					
				    height: 100%;
				    position: fixed;
				    width: 100%;
				    background: #000 none repeat scroll 0 0;
				    overflow: visible;
				    cursor: auto;
				    opacity: 0.9;
				    visibility: visible;
				    left:0;
				    top:0;
				    z-index:9999;
				    div{
					    display: block;
					    height: 345px;
					    left: 50%;
					    margin-left: -230px;
					    margin-top: -170px;
					    outline: medium none;
					    overflow: visible !important;
					    position: fixed;
					    top: 50%;
					    visibility: visible;
					    width: 460px;
					    z-index: 10000;
					    color: #000;
					    background: url('../images/close.png') 95% 5% no-repeat #fff;
					    background-size: 30px;
					    padding: 5%;
					    h2{
					    	font-size: 25px;
					    }
				    }
				}
			}
		}
		.collapse.in{
			visibility: visible;
			height: auto;
		}
	}
	hr{
		background-color: #b7cc02;
		border-color: #b7cc02;
	}
}

.single-trip{
	h1{
		font-size: 24px;
		line-height: 34px;
		margin: 0 auto 30px;
	}
	#tripslide{
		img{
			height: 300px;
			width: 100%;
		}
	}
	.trip-meta{
		margin: 15px auto;
		div{
			margin-bottom: 10px;
		}
		span{
			color: #999;
		}		
	}
	.trip-action{
		a{
			font-size: 18px;
    		padding: 10px 20px;
    		display: block;
    		margin: 15px 0;
		}
	}
	.priceInfo{
  		color: #000;
  		.price{
	  		font-size: 28px;
	  		color: #4cae4c;
	  	}
  	}
  	.menuCon{
  		padding: 0;
  		li{
  			border: 1px solid #2ba165;
		    display: inline-block;
		    list-style: outside none none;
		    padding: 0 10px 0 0;
		    margin: 0 5px 5px 0;
  			span{
  				background-color: #2ba165;
			    color: #fff;
			    font-size: 11px;
			    line-height: 22px;
			    text-align: center;
			    top: 0;
			    vertical-align: top;
			    width: 25px;
  			}
  		}
  	}
  	.trip-detail{
  		.trip-waps{
  			position: relative;
  			margin-top: 30px;
  		}
  		border-left: 1px dashed #ccc;
		.jour-day{
			.day-num{
				color: #5cb85c;
			    display: inline-block;
			    float: left;
			    font: 71px/60px Helvetica,Arial,sans-serif;
			    height: 80px;
			    letter-spacing: -5px;
			    min-width: 56px;
			    padding: 0 5px 0 10px;
			    text-align: right;
			}
			.day-inf {
		    	padding-left: 70px;
		    	padding-top: 3px;
			}
			.day-day {
			    background: #5cb85c none repeat scroll 0 0;
			    color: #fff;
			    display: inline-block;
			    font: 27px/28px Helvetica,Arial,sans-serif;
			    height: 28px;
			    text-align: center;
			    width: 70px;
			}
			.day-dest-list {
			    color: #5cb85c;
			    font: 16px/24px "microsoft yahei";
			}
			.day-icon {
			    display: inline-block;
			    height: 24px;
			    left: -28px;
			    position: absolute;
			    top: 10px;
			    width: 24px;
			    background: url('../images/trip-icon.png') no-repeat center center transparent;
			}
		}
		.addImage{
			text-align: left;
			.imageList{
				display: inline-block;				
				margin: 5px;
				width: 200px;
				vertical-align: top;
				text-align: center;
				img{
					display: block;
					width: 200px;
					height: 150px;
					margin-bottom: 10px;
				}
			}
			
		}
	}  
	.top-menu{
		background-color: #46b8da;	
		padding: 0 0 0 20px;	
		li{
			display: inline-block;
			list-style: none;
			padding: 12px 15px;
			a{
				color: #fff;
				font: 16px/32px "microsoft yahei";
    			height: 32px;
			}
		}
	}	
	.inside-title{
		span{
    		border-bottom: 1px solid #5cb85c;
    	}
		font: 18px "microsoft yahei";
    	padding-bottom: 10px;
	}
	.theprice{
		border-top: 1px dashed #ccc;
		margin: 30px auto;
		padding-top: 30px;
	}
}
#customeTrip{
	padding-top: 50px;
	h1{
		font-size: 32px;
	    font-weight: bold;
	    text-align: center;
	    color: #fff;
	    margin-bottom: 30px;
	}
	.custom-form{
		background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important;
    	padding: 20px;
    	width: 100%;
    	color:#fff;
    	.ninja-forms-required-items{
    		font-size: 11px;
    		text-align: center;
    		margin-bottom: 10px;
    		display: none;
    	}
    	.field-wrap{
    		background: #fff none repeat scroll 0 0;
		    border: 1px solid #fff;
		    color: #838383;
		    margin: 0 auto 15px;
		    width: 85%;
		    -webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 10px;
			vertical-align: middle;
    		label{
    			display: inline-block;
    			min-width: 100px;
    			vertical-align: top;
    			margin: 0;
    			line-height: auto;
    		}
    		input{
    			border:none;
    		}
    		ul{
    			li{
    				display: inline-block;
    				padding: 0;
    				margin: 0;
    				label{
    					width: auto;
    					min-width: 60px;
    				}
    			}
    		}
    		.g-recaptcha{
    			display: inline-block;
    		}    		
    	}
    	.tripyear-wrap{
    		width: 45%;
    		display: inline-block;
    		margin-left: 7%;
    		select{
    			border:none;
    		}
    	}
    	.tripmonth-wrap{
			width: 20%;
    		display: inline-block;
    		select{
    			border:none;
    		}
    		label{
    			display: none;
    		}
    	}
    	.tripday-wrap{
			width: 19%;
    		display: inline-block;
    		select{
    			border:none;
    		}
    		label{
    			display: none;
    		}
    	}
    	.submit-wrap{
			margin: 0 auto 15px;
		    width: 85%;
			text-align: center;
			background: #5cb85c;
			border-color: #5cb85c;
			input{
				background:none;
				color: #fff;
				font-size: 22px;
			}
		}
		.ninja-forms-success-msg{ 					
		    height: 100%;
		    position: fixed;
		    width: 100%;
		    background: #000 none repeat scroll 0 0;
		    overflow: visible;
		    cursor: auto;
		    opacity: 0.9;
		    visibility: visible;
		    left:0;
		    top:0;
		    z-index:9999;
		    div{
			    display: block;
			    height: 345px;
			    left: 50%;
			    margin-left: -230px;
			    margin-top: -170px;
			    outline: medium none;
			    overflow: visible !important;
			    position: fixed;
			    top: 50%;
			    visibility: visible;
			    width: 460px;
			    z-index: 10000;
			    color: #000;
			    background: url('../images/close.png') 95% 5% no-repeat #fff;
			    background-size: 30px;
			    padding: 5%;
			    h2{
			    	font-size: 25px;
			    }
		    }
		}
	}
	.custome-text{
		color: #fff;
		dl{
		    font-size: 14px;
		    padding-left: 20px;
		    dt{
		    	font-size: 36px;
    			padding: 10px 0;
		    }
		    dd{
		    	line-height: 22px;
		    }
		}
	}
	.custome-bot{
		color: #fff;
		.our-hd{
			text-align: center;
		}
		.our-tit{		
		    font-size: 18px;
		    font-weight: bold;
		    height: 80px;
		    line-height: 80px;
		}
		.our-item {
		    color: #fff;
		    float: left;
		    font-size: 14px;
		    line-height: 22px;
		    overflow: hidden;
		    width: 30%;
		    text-align: center;
		}
	}
	.ninja-forms-response-msg{
		text-align: center;
		font-size: 20px;
	}
}
.page-simple{
	background-color: #fff;
	padding: 20px;
	margin-top: 30px;
	.page-header{
		margin: 20px auto;
	}
	.ninja-forms-form{
		width: 80%;
		margin: 0 auto;
		.ninja-forms-required-items{
			text-align: center;
			font-size: 12px;
		}
		.field-wrap{
			input{
				width: 100%;
				margin: 0;
			}
			textarea{
				width:100%; 
				margin: 0;
			}
		}
		.submit-wrap{
			text-align: center;
			input{
				width: auto!important;
				font-size: 20px;
				padding: 5px 20px;
			}
		}
	}
	.orderlist{
		margin-bottom: 20px;
	}
}
.order-dev{
	.trip-img{
		min-height: 200px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	background-position: center center;
	}
	.orderTitle{
		font-family: "Microsoft YaHei";
    	font-size: 16px;
    	color: #fff;
	}
	.priceInfo{
		span{
			color: #fcff00;
    		font-size: 28px;
		}
	}
	.moreinfo{
		color: #fff;
		float: right;
	}
	.des{
		 background: rgba(113, 179, 43, 0.85) none repeat scroll 0 0;
		 padding-left: 0;
		 color: #fff;
	}
	form{
		label{
			strong{
				color: red;
			}
		}
	}
	.input-group[class*="col-"]{
		padding: 0 15px; 
	}
}
#searchOrder{
	margin-bottom: 50px;
	label{
		strong{
			color: red;
		}
	}
}
