body{
	font-family: 'microsoft yahei';
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
} 

#cboxOverlay{
    height: 100%;
    position: fixed;
    width: 100%;
    background: #000 none repeat scroll 0 0;
    overflow: visible;
    cursor: auto;
    opacity: 0.9;
    visibility: visible;
    left:0;
    top:0;
    z-index:9999;
}

